
#googleMap {
    width:400px;
    height:400px;
  }
  html, body {
    height: 100%;
    width: 100%;
    
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    
  }

#cambiarFondobtn{
    margin: 8px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: darkblue;
    color: white;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    font-size: 20px;
    justify-self: start;
}

#commentsBox{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    background: green;
    width: 400px;
    height: 150px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}